# What does this file do?
#   1. Build a test image (before_install)
#   2. Run tests (script)
#   3. Build Docker images for production (after_success)
#   4. Push the installed images to Dockerhub
#   5. Notify an AWS instance
#


sudo: required  
services:
    - docker
before_install:
    - docker build -t xchintan/test_image -f ./client/Dockerfile.dev ./client

script:
    - docker run xchintan/test_image echo "Hello World"

after_success:
    - docker build -t xchintan/complex-app-client -f ./client/Dockerfile.prod ./client
    - docker build -t xchintan/complex-app-api    -f ./server/Dockerfile.prod ./server
    - docker build -t xchintan/complex-app-worker -f ./worker/Dockerfile.prod ./worker
    - docker build -t xchintan/complex-app-ngingx -f ./nginx/Dockerfile.prod  ./nginx

    # Login to Docker Hub
    - echo "$DHUB_SCRT" | docker login -u "$DHUB_UNAME"  --password-stdin

    # Push the images
    - docker push xchintan/complex-app-client 
    - docker push xchintan/complex-app-api   
    - docker push xchintan/complex-app-worker 
    - docker push xchintan/complex-app-ngingx

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app:  "complex-app-prod"
    env:  "ComplexAppProd-env"
    bucket_name:  "elasticbeanstalk-us-east-2-206661043318"
    bucket_path:  "complex-app-prod"
    on:
      branch: master 
      #Run deploy only when there is a commit in master branch
    
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
      secure: "$AWS_SECRET_KEY"

